<html>
    <head>
        <title>Welcome to Nettix</title>
    </head>
    <body>
        <h1>This is home. Below line is a dynamicly generated line </h1>
        <h1>
            {{ name }}
        </h1>

    </body>
</html>